.btn{
    padding: 1.6rem;
    border: none;
    border-radius: 3px;
    font-size: 1.6rem;
    background-color: transparent;
    cursor: pointer;
    &:active{
        outline: none;
    }
    &:focus{
        outline: none;
    }
}