//COLORS

$purple    : #845EC2;
$darkpink  : #D65DB1;
$pink      : #FF6F91;
$orange    : #FF9671;
$gold      : #FFC75F;
$yellow    : #F9F871;
$black     : #242424;
$grey      : #F1F5F9;
$gray      : #F1F5F9;

//FONTS
@import url('https://fonts.googleapis.com/css?family=Mrs+Sheppards|Raleway:100,300,400,500,900');
$roboto    :  'Raleway';
$monoton   :  'Mrs Sheppards';